pandas
numpy

fastapi
uvicorn

streamlit
requests

pillow

faiss-cpu

sentence-transformers

transformers
torch

langchain
langchain-community
langchain-core

plotly

python-dotenv
python-multipart

tqdm